:root {
  --general-blue: #244157;
  --general-white: white;
  --general-green: #33874e;
  --general-gray: #d2d0cd;
  --text-unfocused-color: #8b8886;
  --light-blue: #e5ecf3;
  --container-unfocused-color: #f8f5f2;
  --light-border-color: #f8f5f2;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-body {
  width: 100%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.left-section-logo {
  padding: 20px;
}

.middle-section-dateTime {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-section-functionalities {
  display: flex;
}

.drop-down-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: var(--general-white);
  border: 1px solid black;
}

.div-position-relative {
  position: relative;
}

.inline-icon-right {
  padding-right: 5px;
}
.inline-icon-left {
  padding-left: 5px;
}

a.linked-content-properties {
  text-decoration: none;
  color: var(--general-blue);
}

a.linked-content-properties:hover {
  border: 1px solid var(--general-blue);
}

div.fix-height {
  height: 30px;
}
