:root {
  --general-blue: #244157;
  --general-white: white;
  --general-gray: #d2d0cd;
  --text-unfocused-color: #8b8886;
  --light-blue: #e5ecf3;
  --container-unfocused-color: #f8f5f2;
  --light-border-color: #f8f5f2;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.left-section-logo {
  padding: 20px;
}

.middle-section-dateTime {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-section-functionalities {
  display: flex;
}

button.user-account-name {
  display: flex;
  position: relative;
  align-items: center;
}

button.user-account-name h3 {
  display: flex;
  flex-direction: column;
}

button {
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: var(--general-white);
}

button:hover h3 {
  color: var(--general-blue);
}

.drop-down-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: var(--general-white);
  border: 1px solid black;
}

.div-position-relative {
  position: relative;
}
